<!DOCTYPE html>
<html data-debug="false" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tetrominos</title>
  <link rel="icon" sizes="512x512" href="/favicon.png">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="manifest" href="manifest.json">
  <link href="index.css" rel="stylesheet">
</head>
<body>
<div id="game"></div>
<pre class="debug" id="memdump"></pre>
<div v-cloak id="controls">
  <div id="score">{{ score | pad }}</div>
  <div v-bind:hidden="!debug" id="more">
    <label>Running <input v-on:change="runningChange" type="checkbox" v-model="running"></label>
    <label>Memory page: <input type="range" v-on:change="pageChange" v-model="pageId" min="0" v-bind:max="pages.length - 1"> ({{ pageId | pad }})<label>
  </div>
  <div id="touch-controls">
    <div v-on:touchend="cancelInput('left')" v-on:touchstart="input('left', $event)" v-on:click="input('left', $event)" class="left"></div>
    <div v-on:touchend="cancelInput('right')" v-on:touchstart="input('right', $event)" v-on:click="input('right', $event)" class="right"></div>
    <div v-on:touchend="cancelInput('down')" v-on:touchstart="input('down', $event)" v-on:click="input('down', $event)" class="down"></div>
    <div v-on:click="input('rotate', $event)" class="rotate"></div>
  </div>
</div>
<script type="module" src="./index.js"></script>
<script nomodule src="./bundle.js"></script>
<script>
  if ('serviceWorker' in navigator) { //} && location.hostname !== 'localhost' && !location.hostname.includes('192')) {
    navigator.serviceWorker.register('/sw.js');
  }
  </script>
</body>
</html>
